body{
    font-family: 'Jost', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
#name_color{
    color: darkorange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.divide_width{
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
}
.divide_width image{
    width: 50%;
}
.link_btn{
    text-decoration: none;
    background-image:linear-gradient(rgb(255,101,73),rgb(255,152,116));
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 5px;
}
.top_left_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.mid_section_banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
p{
    text-align: justify;
}
.mid_right_text_position{
    width: 80%;
}